$primary-color: #009FE3;
$accent-color: #509901;
$warn-color: #F95454;
$faded-color: #D3D3D3;

body {
  // css for the page
  font-family: 'Roboto', sans-serif;
}

button {
  // css for buttons globally
  background: none;
  border: none;
}

.card {
  // css for a card background
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;

  .card-header {
    // css for the header in a card
    background-color: $primary-color;
    color: #F8F8F8;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
      // css for header text
      margin: 0;
      font-weight: normal;
    }
  }

  .card-body {
    // css for the body in a card
    padding: 2px 16px;
  }

  .card-footer {
    // css for the footer in a card
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    border-top: 2px $faded-color solid;
  }
}

.todoTaskContainer {
  // css for the task item
  padding: 5px 0;
  border-bottom: 1px $faded-color solid;

  & .taskLabel {
    // css for text of a task
    margin-right: 1rem;
    cursor: pointer;
  }

  & i {
    // css for the circle icon
    cursor: pointer;
  }

  .remove-btn {
    // css for the remove button
    position: absolute;
    right: 0;
    margin-left: 5px;
    color: $faded-color;
    cursor: pointer;
    display: none;
  }

  &.finished-task {
    // css for when a task is completed
    color: $faded-color;
    text-decoration: line-through;
    i {
      // css override for the circle icon
      color: $accent-color;
    }
  }

  &.accent-color-hover {
    // css for the task item when it's hovered over body
    color: $accent-color;

    .remove-btn {
      // css override for the remove-btn
      color: $accent-color;
    }

    & i {
      // css override for the circle icon
      color: $accent-color;
    }
  }

  &.warn-color-hover {
    // css for the task item when it's hovered remove
    color: $warn-color;

    .remove-btn {
      // css override for the remove-btn
      color: $warn-color;
    }

    & i {
      // css override for the circle icon
      color: $warn-color;
    }
  }

  &.general-hover {
    // css for the task when it's hovered over anywhere

    .remove-btn {
      // css override for the remove-btn
      display: inline-block;
    }
  }
}

#todoContainer {
  // css for the container of the to-do box
  width: 50vw;
  min-width: 210px;
  margin: 50px auto 10px auto;
}

#createTaskContainer {
  margin-top: 5px;
  margin-bottom: 5px;

  button {
    color: $primary-color;
    cursor: pointer;
  }

  #taskInput {
    border: none;
    border-bottom: 2px $primary-color solid;

    &::placeholder {
      color: $primary-color;
    }
  }
}

#taskListContainer {
  // css for the container of the to-do task item
  margin-top: 10px;
  margin-bottom: 10px;
}

#filterContainer {
  // css for the container of the to-do filter

  & .selected-filter {
    color: $primary-color;
    text-decoration: underline;
  }

  button {
    cursor: pointer;
  }
}
